<html>
<body>
	<h1 align="center">QUEUE</h1>
	<div align="left" style="width:70%; float: left;" >
		<%for(var i=0; i<lista.length; i++) {%>
			<div>
				<h2><%=lista[i].id%> - <%=lista[i].titulo%></h2>
				<p><%=lista[i].descricao%></p>
				<h3 align="right"><%=lista[i].valor%></h3>
			</div>
		<%}%>
	</div>
	<div align="center" style="width:30%; float: right;" >
		<h2>Carrinho de Compras</h2>
	</div>
	<table>
		<tr>
			<td>id</td>
			<td>titulo</td>
			<td>descricao</td>
			<td>valor</td>
		</tr>
			<%for(var i=0; i<lista.length; i++) {%>
				<tr>
					<td><%=lista[i].id%></td>
					<td><%=lista[i].titulo%></td>
					<td><%=lista[i].descricao%></td>
					<td><%=lista[i].valor%></td>
				</tr>
			<%}%>
	</table>
</body>
</html>